#The file here will not be tracked by Git#
<img src="https://github.com/user-attachments/assets/eead8f85-505c-4062-bff6-783f0874d44a" height=500px width=800px>

<img src="https://m.media-amazon.com/images/I/51LGj5--KsL.png" height=400px width=500px >

<img src="https://yt3.googleusercontent.com/ytc/AIdro_kEYLzGDp-u_51AaUsR2lMTY5BBxG16nhNnhkNDqnTYGfM=s900-c-k-c0x00ffffff-no-rj" height=400px width=400px>

https://github.com/user-attachments/assets/dbc2bca3-1aa5-4820-a4d0-6ebbcfb4ea78